<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    
    <title>HOME</title>
</head>
<body>
    <nav class="container mx-auto flex items-center justify-between py-4" >
        <div class="left">
            <img src="img/logo.png" height="70px" width="70px" alt="">  
        </div>
        <div class="right">
            <ul class="flex items-center">
                <li class="ml-6" > <a href="">Menu</a> </li>
                <li class="ml-6" > <a href="">Register</a> </li>
                <li class="ml-6" > <a href="">Login</a> </li>
                <li class="ml-6" > <a href="">Cart</a> </li>
            </ul>
        </div>
    </nav>


    <section clas="py-16 home"> 
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are You Hungry ?</em></h6>
                <h1 class="text-6xl">Don't Wait</h1>
            </div>
            <div class="w-1/2">
                <img src="img/pizza.png" alt="">
            </div>
        </div>
    </section>


    <!-- menu -->

    <section class="menu container py-8 mx-auto">

        <h1 class="text-xl font-bold mb-8">Menu</h1>

     <div class="grid grid-cols-4 col-gap-12 row-gap-16" >


        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <img class="h-40 mx-auto mb-4" src="img/pizza-menu.png"  alt="pizza">
                <div class="text-center">
                    <h2 class="mb=4 text-lg">Magherita</h2>
                    <span class="py-1 px-4  rounded-full uppercase text-xs size">small</span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg" >Rs 250</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                        <span class="ml-4">Add</span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>



    <script src="js/client.js"></script>
</body>
</html>